@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes hue-rotate-revert {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(-360deg);
  }
}  
