@import './font.styl'
@import './reset.styl'
@import './animation.styl'

body {
  // transform rotate(-5deg)
  margin 0
}

a {
  text-decoration none
  -webkit-backface-visibility hidden
}
